! {{{1 Scrolling
! do not scroll with output
urxvt.scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
urxvt.scrollWithBuffer: true

! scroll back to the bottom on keypress
urxvt.scrollTtyKeypress: true

urxvt.saveLines: 10000
urxvt.scrollBar: true
urxvt.scrollBar_right: true
urxvt.scrollColor: #939393
urxvt.scrollBar_floating: true
urxvt.scrollBar_align: bottom
urxvt.scrollstyle: plain
urxvt.thickness: 1

urxvt.secondaryScreen: 1
urxvt.secondaryScroll: 0

! {{{1 Borders
urxvt.borderLess: false

! {{{1 Glyphs
urxvt.skipBuiltinGlyphs: false

! {{{1 Cursor
urxvt.cursorBlink: true
urxvt.pointerBlankDelay: 60

! {{{1 Colors
urxvt.pointerColor: #839496

urxvt.background: [95]#252E32
urxvt.foreground: #94a3a5
urxvt.transparent: true
urxvt.shading: 30
urxvt.fading: 60
! urxvt.inheritPixmap: true

urxvt.color0: #073642
urxvt.color1: #dc322f
urxvt.color2: #859900
urxvt.color3: #b58900
urxvt.color4: #268bd2
urxvt.color5: #ec0048
urxvt.color6: #2aa198
urxvt.color7: #94a3a5
urxvt.color8: #586e75
urxvt.color9: #cb4b16
urxvt.color10: #859900
urxvt.color11: #b58900
urxvt.color12: #268bd2
urxvt.color13: #d33682
urxvt.color14: #2aa198
urxvt.color15: #6c71c4


! {{{1 Fonts
urxvt.font: xft:Roboto Mono for Powerline:style=Regular:size=10:antialias=true,xft:Inconsolata\ for\ Powerline:pixelsize=12
urxvt.boldFont: xft:Roboto Mono for Powerline:style=Bold:size=10:antialias=true
urxvt.italicFont: xft:Roboto Mono for Powerline:style=Italic:size=10:antialias=true
urxvt.boldItalicFont: xft:Roboto Mono for Powerline:style=Bold Italic:size=10:antialias=true
urxvt.letterSpace: -1

urxvt.xftAutoHint: true
Xft.antialias: true
Xft.rgba: none
Xft.hinting: true
Xft.autohint: true
Xft.hintstyle: hintslight

! {{{1 Extensions

urxvt.perl-ext-common: default,matcher,tabbed,selection-to-clipboard,background,confirm-paste,keysym-list,clipboard

! {{{2 URL Links
urxvt.urlLauncher: firefox
urxvt.matcher.button: 1

! {{{2 Tabs
urxvt.tabbed.tabbar-fg: 2
urxvt.tabbed.tabbar-bg: 0
urxvt.tabbed.tab-fg: 3
urxvt.tabbed.tab-bg: 0
urxvt.keysym.Control-Shift-T: perl:tabbed:new_tab
urxvt.keysym.Shift-Right: perl:tabbed:next_tab
urxvt.keysym.Shift-Left: perl:tabbed:prev_tab
urxvt.clipboard.autocopy: false

urxvt.iso14755: false
urxvt.keysym.Control-Shift-C: perl:clipboard:copy
urxvt.keysym.Control-Shift-V: perl:clipboard:paste
urxvt.keysym.M-V: perl:clipboard:paste_escaped
