[submodule "scripts/haskell/create-gitignore"]
    path = scripts/haskell/create-gitignore
    url = https://github.com/AntoineGagne/create-gitignore.git
    ignore = dirty
[submodule "scripts/python/cmus-notify"]
    path = scripts/python/cmus-notify
    url = https://github.com/AntoineGagne/cmus-notify.git
    ignore = dirty
[submodule "fonts/.fonts/powerline-patched-fonts"]
    path = fonts/.fonts/powerline-patched-fonts
    url = https://github.com/powerline/fonts.git
    ignore = dirty
[submodule "weechat/.weechat/python/wee-slack"]
    path = weechat/.weechat/python/wee-slack
    url = https://github.com/wee-slack/wee-slack.git
    ignore = dirty
