[submodule "vim/.vim/bundle/html5.vim"]
    path = vim/.vim/bundle/html5.vim
    url = https://github.com/othree/html5.vim
    ignore = dirty
[submodule "vim/.vim/bundle/YouCompleteMe"]
    path = vim/.vim/bundle/YouCompleteMe
    url = https://github.com/Valloric/YouCompleteMe
    ignore = dirty
[submodule "vim/.vim/bundle/vim-haskellConceal"]
    path = vim/.vim/bundle/vim-haskellConceal
    url = https://github.com/Twinside/vim-haskellConceal
    ignore = dirty
[submodule "vim/.vim/bundle/syntastic"]
    path = vim/.vim/bundle/syntastic
    url = https://github.com/vim-syntastic/syntastic
    ignore = dirty
[submodule "vim/.vim/bundle/tabular"]
    path = vim/.vim/bundle/tabular
    url = https://github.com/godlygeek/tabular
    ignore = dirty
[submodule "vim/.vim/bundle/nerdtree"]
    path = vim/.vim/bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree
    ignore = dirty
[submodule "vim/.vim/bundle/vim-racer"]
    path = vim/.vim/bundle/vim-racer
    url = https://github.com/racer-rust/vim-racer
    ignore = dirty
[submodule "vim/.vim/bundle/neco-ghc"]
    path = vim/.vim/bundle/neco-ghc
    url = https://github.com/eagletmt/neco-ghc
    ignore = dirty
[submodule "vim/.vim/bundle/vim-pandoc-syntax"]
    path = vim/.vim/bundle/vim-pandoc-syntax
    url = https://github.com/vim-pandoc/vim-pandoc-syntax
    ignore = dirty
[submodule "vim/.vim/bundle/vim-pandoc"]
    path = vim/.vim/bundle/vim-pandoc
    url = https://github.com/vim-pandoc/vim-pandoc
    ignore = dirty
[submodule "vim/.vim/bundle/ghcmod-vim"]
    path = vim/.vim/bundle/ghcmod-vim
    url = https://github.com/eagletmt/ghcmod-vim
    ignore = dirty
[submodule "vim/.vim/bundle/vim-airline-themes"]
    path = vim/.vim/bundle/vim-airline-themes
    url = https://github.com/vim-airline/vim-airline-themes
    ignore = dirty
[submodule "vim/.vim/bundle/elm-vim"]
    path = vim/.vim/bundle/elm-vim
    url = https://github.com/ElmCast/elm-vim
    ignore = dirty
[submodule "vim/.vim/bundle/vimproc.vim"]
    path = vim/.vim/bundle/vimproc.vim
    url = https://github.com/Shougo/vimproc.vim
    ignore = dirty
[submodule "vim/.vim/bundle/haskell-vim"]
    path = vim/.vim/bundle/haskell-vim
    url = https://github.com/neovimhaskell/haskell-vim
    ignore = dirty
[submodule "vim/.vim/bundle/vim-table-mode"]
    path = vim/.vim/bundle/vim-table-mode
    url = https://github.com/dhruvasagar/vim-table-mode
    ignore = dirty
[submodule "vim/.vim/bundle/Vundle.vim"]
    path = vim/.vim/bundle/Vundle.vim
    url = https://github.com/VundleVim/Vundle.vim
    ignore = dirty
[submodule "vim/.vim/bundle/gruvbox"]
    path = vim/.vim/bundle/gruvbox
    url = https://github.com/morhetz/gruvbox
    ignore = dirty
[submodule "vim/.vim/bundle/vim-airline"]
    path = vim/.vim/bundle/vim-airline
    url = https://github.com/vim-airline/vim-airline
    ignore = dirty
[submodule "vim/.vim/bundle/ultisnips"]
    path = vim/.vim/bundle/ultisnips
    url = https://github.com/SirVer/ultisnips.git
    ignore = dirty
[submodule "vim/.vim/bundle/vim-snippets"]
    path = vim/.vim/bundle/vim-snippets
    url = https://github.com/honza/vim-snippets.git
    ignore = dirty
[submodule "vim/.vim/bundle/rust.vim"]
    path = vim/.vim/bundle/rust.vim
    url = https://github.com/rust-lang/rust.vim.git
    ignore = dirty
[submodule "vim/.vim/bundle/ale"]
    path = "vim/.vim/bundle/ale"
    url = https://github.com/w0rp/ale.git
    ignore = dirty
[submodule "scripts/haskell/create-gitignore"]
    path = "scripts/haskell/create-gitignore"
    url = https://github.com/w0rp/ale.git
    ignore = dirty
