[Desktop Entry]
Version=1.0
Type=Application
Name=Glances
Comment=An Eye on your System
Icon="~/.local/share/applications/glances.png"
Exec=urxvt -e /usr/local/bin/glances
Categories=System;
Terminal=false
