[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Cmus
Comment=C* Music Player
Exec=urxvt -e /usr/bin/cmus %F %U
Terminal=false
Categories=AudioVideo;Audio;
