[Unit]
Description=Clean the `tmp` folder in `$HOME` every month.

[Service]
Environment="PATH=/usr/bin:/bin:%h/.local/bin"
Type=simple
ExecStart=%h/.local/bin/clean-local-tmp
