[Unit]
Description=Clean the `tmp` folder in `$HOME` every month.

[Timer]
OnCalendar=monthly
OnBootSec=15min
Persistent=true
Unit=clean-local-tmp.service

[Install]
WantedBy=multi-user.target
