[Unit]
Description=Clean the `tmp` folder in `$HOME` every month.

[Timer]
OnCalendar=monthly
Persistent=true
Unit=clean-local-tmp.service

[Install]
WantedBy=default.target
