[Unit]
Description=Clean the folders in `%h/.vim/` every month.

[Timer]
OnCalendar=monthly
Persistent=true
Unit=clean-local-tmp.service

[Install]
WantedBy=default.target
