[Unit]
Description=Beet Music Player Daemon Stats Plugin
BindsTo=mpd.service
After=mpd.service

[Service]
ExecStart=/usr/bin/beet mpdstats
Type=simple
Restart=on-failure
StandardInput=null
StandardOutput=null
StandardError=null

[Install]
WantedBy=default.target
