<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Homepage</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
        <meta name="referrer" content="no-referrer"/>
        <link rel="icon" href="favicon.ico"/>

        <!-- Stylesheets -->
        <!--link rel="stylesheet" href="css/style.css"/-->

        <!-- Scripts -->
        <!--script src="js/index.js"></script-->
    </head>

    <body>
    </body>
</html>
